<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcjx.dms.mapper.AiGenerationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itcjx.dms.entity.AiGenerationRecord">
        <id column="id" property="id" />
        <result column="doc_id" property="docId" />
        <result column="user_id" property="userId" />
        <result column="prompt" property="prompt" />
        <result column="result" property="result" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, doc_id, user_id, prompt, result, create_time
    </sql>

</mapper>
